body {
  background-color: #55716F;
  font-family: 'Metrophobic', sans-serif; }
  body #dungeon .dungeon-row {
    display: flex; }
    body #dungeon .dungeon-row .dungeon-cell {
      border: solid #777;
      background-color: gray;
      width: 5em;
      height: 5em;
      padding: 1em; }
      body #dungeon .dungeon-row .dungeon-cell .player img {
        width: 100%; }
