body {
    background-color: #55716F;

    font-family: 'Metrophobic', sans-serif;

    #dungeon {

        .dungeon-row {
            display: flex;

            .dungeon-cell{
                border: solid #777;
                background-color: rgb(128, 128, 128);
                width: 5em;
                height: 5em;
                padding: 1em;

                .player img {
                    width: 100%;
                }
            }
        }
    }
}
