body {
    transition: 1200ms ease-out;
    background-color: #55716F;

    font-family: 'Metrophobic', sans-serif;

    #dungeon {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 80%;

        .row {
            display: flex;
            height: 4em;

            .cell {
                background-color: #aaa;
                width: 100%;
                display: flex;
                justify-content: center;
                border: solid #888 1px;

            }
        }
    }
}
